extends layout

block content
  input#Pvar(type="text" value=packages style="display:none")
  input#Uvar(type="text" value=currentUser style="display:none")
  
  
  name
  // Navigation
  nav.navbar.navbar-expand-md.navbar-light.bg-light.sticky-top
    .container
      a.navbar-brand(href="/")
        img(src="images/logogry.png" alt="logo" title="Sweetpea Travel's")
      h2 Sweetpea Travel's
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarResponsive")
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link.active(href="/") Home
          li.nav-item
            a.nav-link(href="about") About
          li.nav-item
            a.nav-link(href="contact") Contact
          li.nav-item
            a.nav-link(href="register") Register
  
          
  .container.m-5
    table.table.table-hover
      thead
        tr
          td Package Name
          td Package Start Date
          td Package End Date
          td Package Description
          td Package Price
          
      tbody
          tr.table-info
            td= packages.PkgName
            td= packages.PkgStartDate
            td= packages.PkgEndDate
            td= packages.PkgDesc
            td= packages.PkgBasePrice + packages.PkgAgencyCommission
  .container.m-5
    .row
      .col-lg-6
        .gallery
          img(src=packages.imageurl, alt=packages.PkgDesc)
      .col-lg-6
        form(action="/test" method="post")
          .form-group
            label(for="BookingDate") Booking Date
            input.form-control#Bdate(type="text" name="BookingDate" placeholder="Booking Date")
          .form-group
            label(for="BookingNo") Booking No
            input.form-control(type="text" name="BookingNo"  placeholder="Booking No")
          .form-group
            label(for="TravelerCount") Traveler Count
            input.form-control(type="number" name="TravelerCount" placeholder="Traveler Count")
          .form-group
            label(for="PCustomerId" style="display:none" ) PCustomerId
            input.form-control#Cid(type="text" placeholder="" name="PCustomerId" style="display:block" )
            .form-group
            label(for="PackageName" style="display:none" ) PCustomerId
            input.form-control#Pname(type="text" placeholder="" name="PackageName" style="display:block" )
          .form-group
            label(for="TripTypeId") Trip Type Id
            input.form-control(type="text" name="TripTypeId" placeholder="Trip Type Id")
          button.btn.btn-primary(type="submit") Book
  footer.d-flex.justify-content-center.mt-auto
    .font-weight-bold
      h5 © Sweetpea Travel's
  link(href="./stylesheets/style.css" rel="stylesheet")
  script(src="./js/index.js")   
  script.
    let rawdata= document.getElementById("Pvar").value;
    let data=JSON.parse(rawdata);
    console.log("Pdata:",data);  
    document.getElementById("Pname").value= data.PkgName;
    //currentuserdata  
    let Urawdata= document.getElementById("Uvar").value;
    let Udata=JSON.parse(Urawdata);
    console.log("Udata:",Udata);  
    document.getElementById("Cid").value= Udata._id;   
    var d = new Date();
    var dd = String(d.getDate()).padStart(2, '0');
    var mm = String(d.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = d.getFullYear();

    d = mm + '/' + dd + '/' + yyyy;
    document.getElementById("Bdate").value= d;
  //script. 
      function getQueryVariable(variable){
      var query = window.location.search.substring(1);
      var vars = query.split("&");
      for (var i=0;i<vars.length;i++) {
              var pair = vars[i].split("=");
              if(pair[0] == variable){return pair[1];}
      }
      return(false);
      }
      let name=getQueryVariable("name");
      let newname=name.replace(/\+/g, " ");
      console.log(name);
      console.log(newname);
      document.getElementById("name").innerText= newname;
  
    
    document.getElementById("Cid").value= data._id;
        
      
      
